button {
  display: flex;
  padding: 8px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #000;
}

button:hover {
  background-color: #e6007e;
  color: #fff;
  border: none;
}

.newsletter-button {
  border: 1px solid #000;
  background: #009fe3;
  display: flex;
  padding: 8px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px;
}

.newsletter-button:hover {
  background-color: #000;
}
