.citation {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  color: #000;
  opacity: 40%;
}

.slogan {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.signature-sylvain {
  position: relative;
  bottom: 130px;
  left: 750px;
}

.signature-max {
  position: relative;
  left: 860px;
  bottom: 100px;
}

.signature-jo {
  position: relative;
  left: 700px;
  bottom: 110px;
}

.signature-seb {
  position: relative;
  left: 285px;
  bottom: 110px;
}
