.citation {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.slogan {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.signature-sylvain {
  position: relative;
  bottom: 110px;
  left: 1100px;
}

.signature-max {
  position: relative;
  left: 750px;
  bottom: 100px;
}

.signature-jo {
  position: relative;
  left: 820px;
  bottom: 120px;
}

.signature-seb {
  position: relative;
  left: 1150px;
  bottom: 130px;
}
