.newsletter {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 220px 120px 280px 120px;
}

.newsletter-title {
  font-size: 39px;
}

.form-input {
  padding: 2px 36px;
  text-align: center;
  margin-top: 10px;
}
