.h2-deco-brasserie {
  position: relative;
  bottom: 15%;
  left: 30%;
}

h2 {
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.notrebrasserie,
.nosbieres {
  margin-bottom: 0;
}

.h2-deco-bieres {
  position: relative;
  bottom: 15%;
  left: 15%;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
}
