.product-legend {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-container {
  display: flex;
}

.price em {
  font-size: 15px;
  font-style: normal;
}

.price {
  margin: 13px 38px 13px 0;
}

.product-card {
  margin-top: 95px;
}
