/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 1440px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-image: url(../img/background-zero.svg),
    url(../img/background-bouclier.svg), url(../img/background-armure.svg),
    url(../img/background-fool.svg), url(../img/background-crown.svg),
    url(../img/background-accolade-jaune.svg);
  background-repeat: no-repeat;
  background-position: bottom, 0 2000px, 300px 2550px, 610px 4050px, 0 5180px,
    450 1500;
  background-size: contain, 25%, 80%, 70%, contain, 35%;
  background-attachment: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
